

.container {
    width: 400px;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    background-color: aliceblue;
}

.red, .green, .yellow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
